body {
    font-size: 0.85rem !important;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 500 !important;
}

body .ui-inputfield {
    font-size: 0.85rem !important;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 500 !important;
}

.ui-widget {
    font-size: 0.85rem !important;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 500 !important;
}

.ui-commandlink:hover {
    text-decoration: none !important;
}

.back-white {
    background-color: #ffffff !important;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*.ui-selectonemenu {*/
/*    width: 100% !important;*/
/*    height: 32px !important;*/
/*}*/

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    margin-top: -12px !important;
}

body .ui-panelgrid .ui-panelgrid-cell {
    padding: 1px 3px !important;
}

body .ui-datatable.ui-datatable-sm .ui-datatable-data > tr > td {
    padding: 1px 6px !important;
}

.ui-inputtext,  .ui-selectonemenu{
    width: 100% !important;
    /*padding: 5px !important;*/
}

/*.ui-inputfield {*/
/*    padding: 5px !important;*/
/*    height: 32px !important;*/
/*}*/

/*.ui-inputmask {*/
/*    padding: 5px !important;*/
/*    height: 32px !important;*/
/*}*/

/*.ui-inputgroup-addon{*/
/*    padding: 2px !important;*/
/*}*/

/*.ui-selectcheckboxmenu{*/
/*    width: 100% !important;*/
/*}*/
/*.ui-selectcheckboxmenu-label {*/
/*    width: 100% !important;*/
/*}*/

/*.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-filter {*/
/*    width: 100% !important;*/
/*    padding-left: 30px !important;*/
/*    top:43% !important;*/
/*}*/

/*.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {*/
/*    width: 23px !important;*/
/*}*/

/*.mw-40{*/
/*    max-width: 40vh !important;*/
/*}*/

body .ui-dialog .ui-dialog-content {
    padding: 3.2px 24px 20px 24px !important;
}

.custom-autocomplete{
    max-height:250px!important;
    overflow-y: scroll ;
}

body .ui-datepicker .ui-datepicker-calendar td {
    padding :1.6px !important;
}

.remove-button-style{
    background: none !important;
    border: none !important;
}

.form_image {
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: auto;
}

.form_image_gallery {
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: auto;
}

.form_image > img {
    max-width: 90px;
    max-height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: 0;
}

.form_image_gallery > img {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: 0;
}

.form_image:hover .form_image_buttons {
    display: block;
}

.form_image_gallery:hover .form_image_buttons {
    display: block;
}

.form_image_buttons {
    top: 0px;
    padding: 6px 0;
    width: 100%;
    display: none;
    text-align: center !important;
    box-sizing: border-box;
    color: #eee;
    background-color: #d32f2f;
    border-radius: 3px 3px 0 0;
    position: absolute !important;
}

.form_image_edit {
    float: left;
    margin-left: 8%;
    color: white !important;
    cursor: pointer;
}

.form_image_remove {
    float: right;
    margin-right: 8%;
    color: white !important;
    cursor: pointer;
}

.filter-container {
    display: flex;
    border: 1px solid #ccc;
    padding: 0;
    overflow: hidden;
}

.filter-container:focus{
    background: transparent !important;
}

.filter-operator {
    border: none !important;
    background: transparent;
    flex-grow: 1;
    max-width: 30px !important;
    box-shadow: none !important;
    min-width: 0 !important;
}

.filter-operator .ui-selectonemenu-label{
    padding-left: 10px !important;
}

.filter-operator:hover{
    border-radius: 0 !important;
}

.filter-value {
    border: none !important;
    border-radius: 0 !important;
    padding: 5px;
    flex-grow: 2;
}

.filter-value:focus {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.filter-container .ui-selectonemenu-trigger {
    display: none !important;
}

.ui-helper-hidden-accessible{
    position: fixed !important;
}

.ui-growl {
    top: auto !important;
    bottom: 20px !important;
    right: 20px !important;
}

body .ui-button.ui-button-orange,body .ui-splitbutton.ui-button-orange>.ui-button,body .ui-menubutton.ui-button-orange>.ui-button {
    background: #ff5722 !important;
    color: #fff !important;
    border: 1px solid #ff5722 !important;
}
body .ui-button.ui-button-pink,body .ui-splitbutton.ui-button-pink>.ui-button,body .ui-menubutton.ui-button-pink>.ui-button {
    background: #e91e63 !important;
    color: #fff !important;
    border: 1px solid #e91e63 !important;
}
body .ui-button.ui-button-teal,body .ui-splitbutton.ui-button-teal>.ui-button,body .ui-menubutton.ui-button-teal>.ui-button {
    background: #009688 !important;
    color: #fff !important;
    border: 1px solid #009688 !important;
}
body .ui-button.ui-button-amber,body .ui-splitbutton.ui-button-amber>.ui-button,body .ui-menubutton.ui-button-amber>.ui-button {
    background: #FFC107 !important;
    color: #fff !important;
    border: 1px solid #FFC107 !important;
}
body .ui-button.ui-button-indigo,body .ui-splitbutton.ui-button-indigo>.ui-button,body .ui-menubutton.ui-button-indigo>.ui-button {
    background: #3F51B5 !important;
    color: #fff !important;
    border: 1px solid #3F51B5 !important;
}

.rotate-text-180 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    white-space: nowrap;
}

.text-balanced {
    max-inline-size: 50ch;
    text-wrap: balance;
}

/*!* Arka plan ve hizalama *!*/
/*.loader-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 200px;*/
/*}*/

/*!* Ana Loader Halkasý *!*/
/*.accessibility-loader {*/
/*    position: relative;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*    border: 4px solid rgba(0, 123, 255, 0.1); !* Silik dýþ halka *!*/
/*    border-top-color: #007bff; !* Hareketli mavi kýsým *!*/
/*    animation: spin 1.5s linear infinite;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*!* Ýçindeki Ýkonun Sabit Kalmasý *!*/
/*.icon {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    fill: #007bff;*/
/*    !* Halka dönerken ikonun ters yöne dönüp sabit durmasýný saðlar *!*/
/*    animation: counter-spin 1.5s linear infinite;*/
/*}*/

/*!* Dönüþ Animasyonlarý *!*/
/*@keyframes spin {*/
/*    to { transform: rotate(360deg); }*/
/*}*/

/*@keyframes counter-spin {*/
/*    to { transform: rotate(-360deg); }*/
/*}*/

.loader-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(37, 99, 235, 0.1);
    border-top: 4px solid #2563eb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.icon-sequence {
    position: relative;
    width: 40px;
    height: 40px;
}

/* Tüm ikonlar üst üste biniyor ve baþlangýçta görünmezler */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Tam merkezleme */
    font-size: 32px;
    color: #2563eb;
    opacity: 0;
    animation: sequenceAnim 10.5s infinite; /* 7 ikon x 1.5s = 10.5s */
}

/* SIRA ÝLE GÖSTERME AYARI */
/* Her ikon 8 saniyelik toplam sürenin farklý zamanlarýnda görünür */

.icon:nth-child(1) { animation-delay: 0s; }
.icon:nth-child(2) { animation-delay: 1.5s; }
.icon:nth-child(3) { animation-delay: 3s; }
.icon:nth-child(4) { animation-delay: 4.5s; }
.icon:nth-child(5) { animation-delay: 6s; }
.icon:nth-child(6) { animation-delay: 7.5s; }
.icon:nth-child(7) { animation-delay: 9s; }

/* Dýþ halka animasyonu */
@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Görünme-Kaybolma Animasyonu */
@keyframes sequenceAnim {
    0% { opacity: 0; transform: translate(-50%, -50%) scale(0.6); }
    2% { opacity: 1; transform: translate(-50%, -50%) scale(1); }    /* Belirme */
    12% { opacity: 1; transform: translate(-50%, -50%) scale(1); }   /* Ekranda kalma */
    14% { opacity: 0; transform: translate(-50%, -50%) scale(1.3); } /* Kaybolma */
    100% { opacity: 0; }
}



